<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="Images/logo1.png" type="image/png">

  
    <title>Beautiful Bangladesh</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.css">

    style 
        include ../public/css/style.css
 

</head>
<body>

 

  <div class="main" id="contact">
        <input type="checkbox" id="chk" aria-hidden="true" >

        <div class="signup">
          <form action="/" method="post">
            <label  for="chk" aria-hidden="true">Beautiful Bangladesh</label>
             <input type="text" name="txt" placeholder="Name" required=""></input>
             <input type="text" name="user" placeholder="Username" required=""></input>
             <input type="email" name="email" placeholder="Email" required=""></input>
             <input type="password" name="pswd" placeholder="Password" required=""></input>
             <button onclick="return confirm('Confirm ok to conntinue')"  type="submit">Sign Up</button>
          </form>
        </div>


        <div class="login">
          <form action="/login" method="post">
            <label  for="chk" aria-hidden="true">Join With Us</label>
            <input type="email" name="email" placeholder="Username" required=""></input>
            <input type="password" name="pswd" placeholder="password" required=""></input>
            <button onclick="return confirm('Confirm ok to conntinue')">Login</button>
          </form>
        </div>
      
  </div>

  <script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>


 
</body>
</html>

    
